header(class="h600")
      div(class="container mx-auto d-flex justify-between text-white py-1")
        div(class="logo_text upper") yeonghun seon
        nav 
          ul(id="gnb", class="d-flex gap-1 upper") 
            li 
              a(href="/") home
            li 
              a(href="/about") about
            li 
              a(href="/portfolio") portfolio 
            li 
              a(href="/contact") contact
      div(class="container mx-auto text-white d-flex justify-between flex-column align-center")
        p(class="slogan_title") uxui webdesigner
        p(class="slogan_text") 변화하지만 변함없는 uxui 웹디자이너
        button(class="btn_request") 작업의뢰/상담