doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 웹디자이너 선영훈 포트폴리오
    include includes/comm_style.pug
  body 
    h1(class="d-none") home
    include includes/comm_header.pug
    main 
      h2(class="d-none") home - main
      article 
        h3(class="text-center py-2 upper") about
        div(class="container mx-auto d-flex justify-between")
          div(class="avatar hidden")
            img(src="images/my_avatar.png", alt="아바타")
          div(class="details")
            ul 
              li 이름 : 선영훈
              li 사는곳 : 광주광역시 광산구
              li 혈액형 : O 
              li 전공 : 멀티미디어공학
              li MBTI : ENFP / ESTP 중 하나?
      article 
        h3(class="text-center py-2 upper") portfolio
        ul(class="container mx-auto d-flex justify-between gap-2", id="pf_main") 
          li
            img(src="images/pf_img1.jpg", alt="web")         
          li
            img(src="images/pf_img2.jpg", alt="graphic")         
          li
            img(src="images/pf_img3.jpg", alt="web")         
        div(class="text-center py-1") 
          button 더보기&plus;
      article
        h3(class="text-center py-2 upper") friendship
        div(class="container_wide")
          div(class="container mx-auto d-flex justify-between gap-3")
            div(class="my_fan hidden flex-1")
              img(src="images/fav_avatar.png", alt="fav avatar")
            div(class="fan_words flex-3")
              p 10년지기 친구 | 홍길동
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit natus ipsam quisquam nostrum. Corporis quam est saepe totam in autem necessitatibus minima, impedit incidunt hic explicabo minus dolor porro aperiam?
      article               
        h3(class="text-center py-2 upper") skill &amp; tools
        div(class="container mx-auto d-flex justify-between")
          div(class="skill")
            h4 skill
            ul 
              li 언어능력
              li 문제해결능력
              li 수리능력
          div(class="tools")
            h4 tools 
            ul 
              li photoshop
              li photoshop
              li photoshop
              li photoshop
              li photoshop
              li photoshop
              li photoshop
              li photoshop
    include includes/comm_footer.pug