doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 웹디자이너 선영훈 포트폴리오
    include includes/comm_style.pug
  body 
    include includes/comm_header.pug
    h1(class="d-none") join
    main 
      hgroup(class="text-center py-2")
        h2(class="caps") member join
        h3 회원 가입
      article 
        h2(class="d-none") member
        div(class="container mx-auto d-flex flex-column align-center")
          form(method="post", action="/userAdd", enctype="multipart/form-data")
            legend(class="d-none")
            fieldset 
              ul(class="signup gap-1") 
                li(class="d-flex justify-between")
                  label 아이디
                    span(class="red") *
                  input(type="text", id="user_id", name="user_id", required)
                li(class="d-flex justify-between")
                  label 비밀번호
                    span(class="red") *
                  input(type="password", id="user_pw1", name="user_pw1", required)
                li(class="d-flex justify-between")
                  label 비밀번호 확인
                    span(class="red") *
                  input(type="password", id="user_pw2", name="user_pw2", required)
                li(class="d-flex justify-between")
                  label 이름
                    span(class="red") *
                  input(type="text", id="user_name", name="user_name", required)
                li(class="d-flex justify-between")
                  label 이메일
                    span(class="red") *
                  input(type="email", id="user_email", name="user_email", required, placeholder="이메일@도메인")
                li(class="d-flex justify-between")
                  label 연락처
                    span(class="red") *
                  input(type="tel", id="user_phone", name="user_phone", required)
                li(class="d-flex justify-between")
                  label 닉네임
                    span(class="red") *
                  input(type="tel", id="user_nick", name="user_nick")
                li(class="d-flex justify-between")
                  label 프로필 사진
                    span(class="red") *
                  input(type="file", id="user_photo", name="user_photo")
                li(class="d-flex justify-center gap-1")
                  button(class="btn btn-active", onclick="alert('가입 시도')") 회원가입
                  button(class="btn", onclick="alert('로그인 시도')") 로그인
    include includes/comm_footer.pug        