@charset "utf-8";
:root {
  --primary-color: black;
  --secondary-color: white;
  --third-color: gray;
  --bg-orange: orange;
  --bg-whitegray: #efefef;
  --line-color: #a3a3a3;
  --point-color: #f62b2b;
}
/* -------------- common style ---------------- */
.d-none {
  display: none;
}
.mx-auto {
  margin: 0 auto;
}
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.h600 {
  height: 600px;
  background: url("../images/cover_img.jpg") no-repeat center / cover;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.text-center {
  text-align: center;
}
.text-white {
  color: var(--secondary-color);
}
.caps {
  text-transform: capitalize;
}
.upper {
  text-transform: uppercase;
}
.hidden {
  overflow: hidden;
}
.container {
  max-width: 1000px;
}
.container_wide {
  width: 100%;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
[data-type="web"],
[data-type="graphic"] {
  background: var(--third-color);
  height: 260px;
  width: 250px;
  display: inline-block;
}
/* ------------------- header ---------------- */

.slogan_title {
  font-size: 6rem;
  margin: 7rem 0 0 0;
}
.slogan_text {
  border-top: 1px solid var(--secondary-color);
  padding: 0.5rem 0 0 0;
  margin: 1rem 0 2rem 0;
  font-size: 1.25rem;
  text-shadow: 1px 1px 3px var(--primary-color);
}
.btn_request {
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  border: 0;
  background: var(--primary-color);
  color: var(--secondary-color);
}

/* ------------ main > about ------------------ */
.avatar {
  width: 300px;
  height: 300px;
  background: var(--third-color);
  border-radius: 50%;
}
.my_fan {
  width: 150px;
  height: 150px;
  background: var(--third-color);
  border-radius: 50%;
}
#pf_main > li {
  background: var(--third-color);
  height: 350px;
  flex: 1;
}

/* -------------------- /about ------------------- */
.btn {
  padding: 0.5rem 1rem;
}
.btn-active {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.edu_cover {
  width: 250px;
  height: 250px;
  background: var(--third-color);
}
.list {
  list-style: disc inside;
}

/* ----------------- /portfolio -------------------- */
.pf {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

/* ----------------- /contact -------------------- */
.form_lists li {
  border-top: 1px solid var(--line-color);
  padding: 1rem 0;
}
.d-flex label {
  display: block;
  flex: 0 0 10rem;
  font-weight: 700;
}
.d-flex textarea {
  flex: 0 0 50%;
}
.tip {
  color: var(--third-color);
}
.red {
  color: var(--point-color);
}

[type="text"],
[type="tel"],
[type="email"],
textarea {
  padding: 0.25rem 0.5rem;
  outline: none;
  border: 1px solid var(--line-color);
}

/* --------------- /contactList ------------------ */
.contact_list,
.contact_list th,
.contact_list td {
  border: 1px solid var(--primary-color);
  border-collapse: collapse;
  font-size: 0.875rem;
}
.contact_list th,
.contact_list td {
  padding: 0.5rem 1rem;
}
.contact_list th {
  background: var(--bg-whitegray);
}
.contact_list .th-5 {
  width: 5%;
  white-space: nowrap;
}
.contact_list .th-10 {
  width: 10%;
}
